<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> 3822Б1ФИ1 Чистов Алексей </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type='text/javascript' src='scripts.js'></script>
</head>

<body>

<header>
    <nav>
        <a class="logotype" href="">Парикмахерская</a>
    </nav>
</header>

<div id="content">
    <table class="table">
        <thead>
        <tr>
            <th>Услуга</th>
            <th>Продолжительность, мин.</th>
            <th>Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        <% services.forEach(function(serviсe, i) {%>
            <tr id="<%= i + 1 %>" onclick="window.location.href='#choice';renderChoice(document.getElementById('<%= i + 1 %>').id);">
                <td id="type<%= i + 1 %>"><%= serviсe.service_type %></td>
                <td id="duration<%= i + 1 %>"><%= serviсe.service_time %></td>
                <td id="price<%= i + 1 %>"><%= serviсe.service_price %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<div id="choice" class="choiceDialog">
    <div>
        <a href="#close" title="Закрыть" class="close" onclick="deleteChoiceDiv()">X</a>
        <h2>Запись</h2>
        <p>Заполните данные:</p>
        <form action="choice" method="post">
            <div class="choiceDialogData">
                <p><b>Имя:</b><br>
                <p><input type = "text" name="name" required class="text"></p>

                <p><b>Телефон:</b><br>
                <p><input type = "telephone" name="mobile" placeholder="+88005553535" required class="text"></p>

                <p><b>Стоимость, руб.:</b><br>
                <p><input type = "text" name="price" readonly="readonly" id="price" class="text"></p>

                <p><input type = "text" name="time" readonly="readonly" id="time" required style="visibility: hidden;"></p>
            </div>
            <div class="btn" onclick="deleteChoiceDiv()">
                <p><input type = "submit" value="Записаться" class="btn"></p>
            </div>
        </form>
    </div>
</div>

</body>
</html>