<!DOCTYPE html><html>

<head>
    <meta charset="utf-8" />
    <title> 3822Б1ФИ1 Чистов Алексей </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type='text/javascript' src='scripts.js'></script>
</head>

<body>

<header>
    <nav>
        <a class="logo" href="">Парикмахерская</a>
    </nav>
</header>


<div id="service-list">
    <div class="service-list">
        <% services.forEach(function(service, i) {%>
            <div class="service-card" id="service<%= i + 1 %>" onclick="window.location.href='#window'; selectService('<%= i + 1 %>');">
                <div class="service-name"><%= service.service_name %></div>
                <div class="service-time"><%= service.service_time %> мин.</div>
                <div class="service-cost"><%= service.service_price %> руб.</div>
            </div>
        <% }) %>
    </div>
</div>

<div id="window" class="window">
    <div>
        <a href="#close" title="Закрыть" class="close-button">X</a>
        <form action="choice" method="post">
            <div class="window-content">
                <p><b>Имя:</b><br>
                <p><input type="text" name="name" required class="text"></p>

                <p><b>Телефон:</b><br>
                <p><input type="telephone" name="mobile" required class="text"></p>

                <p><input type="hidden" name="service-type" id="service-type" class="text"></p>
                <p><input type="hidden" name="service-price" id="service-price" class="text"></p>
                <p><input type="hidden" name="service-duration" id="service-duration" class="text"></p>

                <p><b>Время:</b><br>
                <div id="timeSlots" class="time-selection"></div>

                <p><input type="text" name="time" readonly="readonly" id="time" required style="visibility: hidden;"></p>
            </div>
            <div class="button">
                <p><input type="submit" value="Записаться" class="button"></p>
            </div>
        </form>
    </div>
</div>

</body>
</html>
